<a href="https://colab.research.google.com/github/Fuenfgeld/DataManagement/blob/main/DataEngineeringBootcamp/DataEngineeringBootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install petl

Collecting petl
  Downloading petl-1.7.8.tar.gz (401 kB)
     |████████████████████████████████| 401 kB 4.0 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: petl
  Building wheel for petl (PEP 517) ... done
  Created wheel for petl: filename=petl-1.7.8-py3-none-any.whl size=219365 sha256=3f4affa52e41f0599649e6e6fd251b04744e4b644d306cebcd73d4e31438189f
  Stored in directory: /root/.cache/pip/wheels/fe/3d/5c/e10ec10f8988404563318132cbd9d37f5798198dfbe4d5f12f
Successfully built petl
Installing collected packages: petl
Successfully installed petl-1.7.8

In [2]:
import petl as etl
etl.__version__

'1.7.8'

In [6]:
import sqlite3
con = sqlite3.connect('example.db')

In [8]:
cur = con.cursor()
cur.execute('''CREATE TABLE example
               (foo real, bar text, baz real)''')
con.commit()

In [3]:
tbl = etl.dummytable(10, seed=42)
tbl

+-----+----------+----------------------+
| foo | bar      | baz                  |
+=====+==========+======================+
|  81 | 'apples' | 0.025010755222666936 |
+-----+----------+----------------------+
|  35 | 'pears'  |  0.22321073814882275 |
+-----+----------+----------------------+
|  94 | 'apples' |   0.6766994874229113 |
+-----+----------+----------------------+
|  69 | 'apples' |   0.5904925124490397 |
+-----+----------+----------------------+
|   4 | 'apples' |  0.09369523986159245 |
+-----+----------+----------------------+
...

In [4]:
tbl.display(tr_style=lambda row: 'background-color: %s' % ('#faa' if row.foo > 50 else 'white'))

foo,bar,baz
81,apples,0.025010755222666936
35,pears,0.22321073814882275
94,apples,0.6766994874229113
69,apples,0.5904925124490397
4,apples,0.09369523986159245

In [10]:
etl.todb(tbl, con, 'example')

In [11]:
cur = con.cursor()
cur.execute("select * FROM example")
print(cur.fetchall())
con.close()

[(81.0, 'apples', 0.025010755222666936), (35.0, 'pears', 0.22321073814882275), (94.0, 'apples', 0.6766994874229113), (69.0, 'apples', 0.5904925124490397), (4.0, 'apples', 0.09369523986159245), (29.0, 'apples', 0.561245062938613), (91.0, 'oranges', 0.2204406220406967), (75.0, 'bananas', 0.8094304566778266), (0.0, 'pears', 0.6981393949882269), (43.0, 'bananas', 0.15547949981178155)]