<a href="https://colab.research.google.com/github/Fuenfgeld/DataManagement/blob/main/DataEngineeringBootcamp/SQLDataEngineeringBootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
%load_ext sql

In [ ]:
#!curl https://gist.githubusercontent.com/duncandewhurst/9964b7946e2931d34fa60df7456fd3c2/raw/5eb2ad109b2b2795ae6834f32a926dcec657f0ce/custom.js --output /usr/local/share/jupyter/nbextensions/google.colab/custom.js

In [ ]:
!ls /usr/local/share/jupyter/nbextensions/google.colab/

files.js  tabbar.css  tabbar_main.min.js

In [ ]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %shell  %sql  %store  %sx  %system  %tb  %tensorflow_version  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%bigquery  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%shell  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [ ]:
%pwd

'/content'

In [ ]:
sql sqlite://

'Connected: @None'

In [ ]:
%%sql
CREATE TABLE patient (patientID INTEGER PRIMARY KEY, first_name TEXT, last_name TEXT);

 * sqlite://
Done.

[]

In [ ]:
%%sql
INSERT INTO patient VALUES (1, 'Markus', 'Maus');
INSERT INTO patient VALUES (2, 'Berta', 'Baracuda');
INSERT INTO patient VALUES (3, 'Eve', 'Emu');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
CREATE TABLE diagnose (patientID INTEGER,dignose TEXT)

 * sqlite://
Done.

[]

In [ ]:
%%sql
INSERT INTO diagnose VALUES(1, 'diabetes');
INSERT INTO diagnose VALUES(1,'COPD');
INSERT INTO diagnose VALUES(2,'malaria');
INSERT INTO diagnose VALUES(4,'cancer');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql 
SELECT * FROM patient

 * sqlite://
Done.

[(1, 'Markus', 'Maus'), (2, 'Berta', 'Baracuda'), (3, 'Eve', 'Emu')]

In [ ]:
%sql SELECT * FROM diagnose

 * sqlite://
Done.

[(1, 'diabetes'), (1, 'COPD'), (2, 'malaria'), (4, 'cancer')]

In [ ]:
%%sql
Select 
  * 
FROM
  patient
JOIN diagnose
  ON   patient.patientID = diagnose.patientID

 * sqlite://
Done.

[(1, 'Markus', 'Maus', 1, 'diabetes'),
 (1, 'Markus', 'Maus', 1, 'COPD'),
 (2, 'Berta', 'Baracuda', 2, 'malaria')]

In [ ]:
%%sql
Select 
  * 
FROM
  patient
INNER JOIN diagnose
  ON   patient.patientID = diagnose.patientID

 * sqlite://
Done.

[(1, 'Markus', 'Maus', 1, 'diabetes'),
 (1, 'Markus', 'Maus', 1, 'COPD'),
 (2, 'Berta', 'Baracuda', 2, 'malaria')]

In [ ]:
%%sql
Select 
  * 
FROM
  patient
LEFT JOIN diagnose
  ON   patient.patientID = diagnose.patientID

 * sqlite://
Done.

[(1, 'Markus', 'Maus', 1, 'COPD'),
 (1, 'Markus', 'Maus', 1, 'diabetes'),
 (2, 'Berta', 'Baracuda', 2, 'malaria'),
 (3, 'Eve', 'Emu', None, None)]

In [ ]:
%%sql
SELECT * FROM patient

 * sqlite://
Done.

[(1, 'Markus', 'Maus'), (2, 'Berta', 'Baracuda'), (3, 'Eve', 'Emu')]

In [ ]:
%%sql
Select 
  * 
FROM
  patient
CROSS JOIN diagnose
  ON   patient.patientID = diagnose.patientID

 * sqlite://
Done.

[(1, 'Markus', 'Maus', 1, 'COPD'),
 (1, 'Markus', 'Maus', 1, 'diabetes'),
 (2, 'Berta', 'Baracuda', 2, 'malaria')]

In [ ]:
output = %sql Select * FROM patient LEFT OUTER JOIN diagnose ON patient.patientID = diagnose.patientID

 * sqlite://
Done.

In [ ]:
output

[(1, 'Markus', 'Maus', 1, 'COPD'),
 (1, 'Markus', 'Maus', 1, 'diabetes'),
 (2, 'Berta', 'Baracuda', 2, 'malaria'),
 (3, 'Eve', 'Emu', None, None)]

In [ ]:
type(output)

sql.run.ResultSet

In [ ]:
df = output.DataFrame()

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df

   patientID first_name last_name  patientID   dignose
0          1     Markus      Maus        1.0      COPD
1          1     Markus      Maus        1.0  diabetes
2          2      Berta  Baracuda        2.0   malaria
3          3        Eve       Emu        NaN      None